.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-img {
  align-self: flex-end;
  z-index: 1000;
  width: 50%;
}

/* RWD */

@media screen and (max-width: 1400px) {
  .banner-content {
    margin-top: 5rem;
  }
}
